{% extends 'base.html' %}
{% block title %}
ABOUT PAGE
{% endblock title %}
{% block body %}
<h1>welcome to pre-trip bookings</h1>
<h2>we have an experience of 5 years in this field providing trip to the places like bangalore,mysore,hyderabad,ooty and kerala.</h2>
<h3>we are here to provide accomodation,food facility,travelling facility and along with the guide if required based on ur budget all the packages are available</h3>
<div class="row row-cols-1 row-cols-md-2"><div class="col mb-4">
  <div class="card">
    <img src="static/images/contact.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">BANGALORE</h5>
      <p class="card-text">'BENGALURU BE U'.....,lalbagh botanical garden,cubbon park,bannerghatta biological park,bangalore palace,suvarna vidhana soudha</p>
    </div>
  </div>
</div>
    <div class="col mb-4">
      <div class="card">
        <img src="static/images/bgn3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BANGALORE</h5>
          <p class="card-text">'BENGALURU BE U'.....,lalbagh botanical garden,cubbon park,bannerghatta biological park,bangalore palace,suvarna vidhana soudha</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="static/images/mysore1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MYSORE</h5>
          <p class="card-text">'CITY OF PALACES AND GARDEN CITY'...,mysore palace,sre chamarajendra zoological gardens,brindavan gardens,sri chamundeshwari ammanavara temple,ranganatittu bird sanctuary</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="static/images/boat.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">KERALA</h5>
          <p class="card-text">'GOD'S OF COUNTRY'...,munnar,alappuzha,kochi,kovalam,kumarakom,wayanad,thiruvananthapur,periyar national park,varakala,eravikulam national park</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="static/images/ooty1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">OOTY</h5>
          <p class="card-text">'QUEEN OF HILL STATIONS'....,boat house,botanical garden,rose garden,tea factoy and tea museum,st.stephen's church,thread garden,ooty lake,thunder world</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
        <div class="card">
          <img src="static/images/hyd2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">HYDERABAD</h5>
            <p class="card-text">'EASY OF LIVING'....,golconda fort,charminar,hussain sagar,ramoji film city,birla mandir,mecca masjid,qutb shahi tombs,nehru zoological park</p>
          </div>
        </div>
      </div>
  </div>


{% endblock body %}    b